body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  position: relative;
  height: 100%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;  /* Inicialmente invisível */
  transition: opacity 1s ease;  /* Transição de opacidade */
}

.image.visible {
  opacity: 1;  /* Visível */
}

.hidden {
  display: none;
}

.start-button {
  font-family: 'Digory Doodles', sans-serif;
  position: absolute;
  bottom: 30%;
  left: 82%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 3s ease;
}

.start-button.visible {
  opacity: 1;
}

.start-button:hover {
  background-color: black;
  color: white;
}
